[Unit]
Description=EAS/SAME AllStarLink Monitor
Documentation=https://github.com/msullivan1993/eas-asl-monitor
After=network.target sound.target

[Service]
Type=simple

WorkingDirectory=/etc/eas_monitor
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /etc/eas_monitor/eas_monitor.py \
          --config /etc/eas_monitor/fips_nodes.conf

KillMode=mixed
TimeoutStopSec=15
KillSignal=SIGTERM

Restart=always
RestartSec=15

StandardOutput=journal
StandardError=journal
SyslogIdentifier=eas-monitor

[Install]
WantedBy=multi-user.target
